#Get {
    font-size: 15px;
    color: rgb(128, 190, 201);
    text-align: center;
}

.skillDiv {
    height: 100px;
    width: 100%;
    margin-top: 50px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: rgb(7, 49, 61);
}

.skill {
    font-size: 10px;
    font-weight: 200;
    color: white;
    position: relative;
    margin-top: 200px;
}
#more {
    font-size: 15px;
    color: white;
}

.SocialImage {
    width: 20px;
    height: 20px;
    margin: 10px;
}












