.GetForm {
    position: relative;
    left: 500px;

}
.Me {
    font-size: 50px;
    color: white;
    margin-left: 70px;

}
#Me {
    font-size: 20px;
    color: white;
}

textarea {
    width: 370px;
}

input {
    height: 50px;
    width: 370px;
    border: 1px solid rgb(153, 147, 147);
    border-radius: 5px;
}

